/* Opdracht 2:

Voeg een tweede button toe aan je HTML met de tekst "Change Background"

Voeg de volgende CSS toe in je CSS file

.blue-background {
background-color: blue;
}
.red-background {
background-color: red;
}
Geef de body tag de class "blue-background"

Maak een nieuwe functie die de volgende functionaliteiten in zich heeft:

Maak een klik event vast aan de nieuwe button

Wanneer er op de change-background-button geklikt wordt ga je de class "red-background" toevoegen aan je body element. 

Na de click op de button ziet de class van je body tag er zo uit: class="blue-background red-background" .
Door de volgorde van de CSS in de CSS file, zal de laatste stijl in je stylesheet toegepast.
In dit geval staat in je stylesheet eerst de blauwe achtergrond en daarna de rode achtergrond gedefineerd.
De body heeft nu 2 styles, waarvan de rode achtergrond nu toegepast zal worden. */

.blue-background {
  background-color: blue;
}
.red-background {
  background-color: red;
}
